[submodule "skia"]
	path = skia-bindings/skia
	url = git@github.com:tuxmark5/skia.git
[submodule "skia-bindings/depot_tools"]
	path = skia-bindings/depot_tools
	url = https://github.com/rust-skia/depot_tools.git
